<?xml version="1.0" encoding="utf-8"?>
<it.unipi.iot.configuration.ConfigurationParameters>
	<databaseIP>localhost</databaseIP>
	<databasePort>3306</databasePort>
	<databaseUsername>root</databaseUsername>
	<databasePassword>root</databasePassword>
	<databaseName>smart_aquarium</databaseName>
	<pHDatabaseTableName>PH</pHDatabaseTableName>
	<kHDatabaseTableName>KH</kHDatabaseTableName>
	<temperatureDatabaseTableName>Temperature</temperatureDatabaseTableName>
	<osmoticWaterTankDatabaseTableName>OsmoticWaterTank</osmoticWaterTankDatabaseTableName>
	<MQTTBroker>tcp://127.0.0.1:1883</MQTTBroker>
	<MQTTClientId>SmartAquariumMQTTCollector</MQTTClientId>
	<pHTopic>pH</pHTopic>
	<kHTopic>kH</kHTopic>
	<temperatureTopic>temperature</temperatureTopic>
	<osmoticWaterTankTopic>OsmoticWaterTank</osmoticWaterTankTopic>
	<fanTopic>fan</fanTopic>
	<heaterTopic>heater</heaterTopic>
	<co2DispenserTopic>co2Dispenser</co2DispenserTopic>
	<kHLowerBound>4</kHLowerBound>
	<kHUpperBound>6</kHUpperBound>
	<kHOptimalValue>5</kHOptimalValue>
	<temperatureLowerBound>23</temperatureLowerBound>
	<temperatureUpperBound>27</temperatureUpperBound>
	<temperatureOptimalValue>25</temperatureOptimalValue>
	<epsilon>0.2</epsilon>
	<epsilonTemperature>0.5</epsilonTemperature>
</it.unipi.iot.configuration.ConfigurationParameters>